*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

/*...*/
#header__top{
    position: relative;
    z-index: 2;
}
.header__top{
    width: 100%;
    height: 36px;
    background: #350a4e;
    /* background-color: aquamarine; */
   
}
.header__top-left{
   line-height: 36px;
}
.header__top-left span{
    color: #fff;
    font-size: 12px;
    padding-right:45px;
    cursor: pointer;
}
.header__top-left a{
    padding: 0 10px;
}
.header__top-left a i{
    font-size: 12px;
    color: #fff;
    transition: all .3s linear;
}
.header__top-left a i:hover{
    color: #fa9e1b;
}
.header__top-right{
    text-align: end;
    line-height: 36px;
}
.header__top-right a{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    transition: all .3s linear;
}
.header__top-right a:hover{
    color: #fa9e1b;
}
.header__top-right>a:first-of-type{
    position: relative;
    margin-right:10px ;
}
.header__top-right>a:first-of-type::after{
    content: '';
    height: 15px;
    width: 1px;
    background-color: #fff;
    position: absolute;
    right:-8px;
    bottom: 0;
    cursor: pointer;
}
/* ----------------------------------- */
.header__nav{
    width: 100%;
    background-color: rgba(54, 19, 84, .6);
    position: absolute;
    top: 0;
    z-index: 1;
    /* border: 1px solid red; */
}
.header__nav__container{
    padding: 60px 0 40px 0;
}
.header__nav__container>.row{
    align-items: center;
}
.header__nav__container-logo span{
    font-size: 30px;
    color: #f4f4f8;
    font-weight: 800;
    margin: 0px auto;
}
.header__nav__container-list{
    display: flex;
    justify-content: flex-end;
}
.header__nav__container-list ul>li{
    display: inline-block;
    margin-right: 35px;
    position: relative;
}
.header__nav__container-list ul>li::after{
    content: '';
    width: calc(100% + 8px);
    height: 2px;
    position: absolute;
    top: calc(50% + 20px);
    left: -4px;
    background-image: linear-gradient(to right, #fa9e1b, #8d4fff);
    opacity: 0;
    transition: all .3s linear;
}
.header__nav__container-list ul>li:hover::after{
    opacity: 1;
    transition: all .3s linear;
}
.header__nav__container-list ul>li a{
    font-weight: 600;
    color: #fff;
}
.header__nav__container-search{
    text-align: end;
}
.header__nav__container-search a i{
    transform: rotate(90deg);
    color: #fff;
}

/*...*/
.the_blog_img{
    height: 100vh;
    background: url(../IMG/News/blog_background.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover
}
.the_blog {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: relative;
}
.the_blog h1{
    color: #fff;
    font-size: 72px;
    font-weight: 800;
}
/*...*/
.blog {
    padding: 70px 0;
}
.container {
    position: relative;
}
.row.c-1 {
    float: left;
}
.container img {
    width: 100%;
}

.container__post {
    position: relative;
}
.container_post_time {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #fa9e1b;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: 3%;
    top: 2%;
}
.container_post_time span:first-child {
    margin-top: -10px;
    font-size: 28px;
    font-weight: 700;
}
.container_day {
    padding-left: 20px;
    
}
.container_day input {
    width: 95%;
    height: 44px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 2px solid rgb(230, 231, 244);
    outline: none;
}
.container_day i {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 20px;
    color: #fa9e1b;
    transform: rotate(90deg);
    transition: color .3s linear;
}

.container_day i:hover {
    color: #000;
}

.container_day_year {
    margin-top: 50px;
    
}

.container_day_year span {
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.container_day_year ul {
    margin-top: 35px;
}

.container_day_year ul li {
    list-style: none;
    font-weight: 600;
    padding: 10px 0;
    color: #A5A5A5;
}
/*...*/
.container_post ul li {
    list-style: none;
    font-weight: 600;
    transition: all .3s linear;
    display: inline-block;
    
}
.container_post ul li a {
    text-decoration: none;
    color: #A5A5A5;
}
.container_post ul li a:hover {
    color: #000;
}
.introduce {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    text-decoration: none;
    color: #000 !important;
}
.container_post p {
    line-height: 2;
    color: #A5A5A5;
    text-align: justify;
}
.read_more {
    color: #fa9e1b !important;
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
.container_sidebar {
    padding-left: 20px;
}
.container_sidebar_list span {
    margin-bottom: 25px;
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.container_sidebar_list ul li {
    list-style: none;
    padding: 10px 0;
}
.container_sidebar_list ul li a {
    text-decoration: none;
    color: #A5A5A5;
    font-weight: 600;
}
.container_sidebar_list_img {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    
}
.container_sidebar_list_img img {
    width: 100%;
    
    
}
/*...*/
footer.grid{
    padding-top: 100px;
    padding-bottom: 20px;
    background: #31124b;
}
.footer__container__col1__text {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 2;
    margin-bottom: 15px;
    margin-top: 50px;
}
.footer__container__col1__logo{
    position: absolute;
    left: 0;
    top: -9%;
}
.footer__container__col1__logo a{
    font-size: 30px;
    color: #f4f4f8;
    font-weight: 800;
    text-transform: uppercase;
}
.footer__container__col1__social ul li{
    display: inline-block;
}
.footer__container__col1__social a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__container__col1__social ul li {
    display: inline-block;
    width: 31px;
    height: 31px;
    border: solid 1px #fa9e1b;
    border-radius: 50%;
    text-align: center;
    transition: all .3s linear;
    margin-right: 9px;
}
.footer__container__col1__social i{
    color: #f4f4f8;
    font-size: 12px;
}
.footer__container__col1__social ul li:hover{
    background-color: #fa9e1b;
}
.footer__container__col2 h2{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.footer__container__col2__text a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.footer__container__col2__text span {
    font-size: 12px;
    font-weight: 400;
    color: #fa9e1b;
    margin-top: 7px;
    display: block;
}
.footer__container__col2__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer__container__col3 h2{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.footer__container__col3__content{
    display: flex;
    flex-wrap: wrap;
}
.footer__container__col3__content ul li {
    list-style: none;
    height: 35px;
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 9px;
    border: solid 1px #fa9e1b;
    transition: all .3s linear;
}
.footer__container__col3__content a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 33px;
    padding-left: 25px;
    padding-right: 25px;
}
.footer__container__col3__content ul li:hover{
    background-color: #fa9e1b;
}
.footer__container__col4 h2{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.footer__container__col4 span {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    line-height: 2.14;
    cursor: pointer;
}
/*...*/
.open__menu{
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 320px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;   
    background: linear-gradient(-300deg, #fa9e1b, #8d4fff);
    z-index: 100;
    transform: translateX(100%);
    transition: all .7s ease-in-out;
}
.menu__tablet__mobile>input:checked~label:nth-of-type(2){
    transform: translateX(0%);
}
.open-menu{
    position: absolute;
    width: 40px;
    height: 40px;
    top: -5px;
    left: 80%;
    
}
.open-menu label i{
    color: #f4f4f8;
    font-size: 25px;
}
.menu__tablet__mobile input{
    display: none;
}
.menu__lists a{
    color: #fff;
    font-size: 25px;
    padding: 25px 0;
    display: block;
    font-weight: 700;
}
.menu__lists ul li{
    list-style: none;
}
#menu_close{
    color: #fff;
    font-size: 25px;
}
.menu__tablet__mobile__overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 1, 80, 0.4);
    z-index: 50;
    transform: translateX(100%);
}
.menu__tablet__mobile>input:checked+label{
    transform: translateX(0%);
}
/*...*/
@media screen and (min-width:740px) and (max-width:1023px){
    .header__top-left>span,
    .header__top-right a{
        font-size: 10px;
    }
    .header__top-left a i{
        font-size: 8px;
    }
    .header__nav__container-logo span{
        font-size: 30px;
    }
    .header__nav__container-search{
        text-align: center;
    }
    /*...*/
    .wide.custom {
        width: auto;
    }
    .container_post {
        padding-left: 20px;
        padding-right: 15px;
    }
    .container_day {
        padding-left: 10px;
        padding-right: 10px;
    }
    .container_sidebar {
        padding-left: 10px;
        padding-right: 10px;
    }
    .magin_top {
        margin-top: 35px;
    }
    /*...*/
    .footer__container__col2__item{
        justify-content: flex-start;
    }
    .footer__container__col2__text{
        margin-left: 20px;
    }
    .footer__container__col4,.footer__container__col3{
        margin-top: 40px;
    }
}
@media screen and (max-width:739px){
    .header__top{
        display: none;
    }
    .header__nav__container{
        padding: 0;   
    }
    .header__nav__container>div:first-of-type{
        padding: 10px 0px;
    }
    .header__nav__container-logo{
        padding-left: 20px;
    }
    .header__nav__container-logo span{
        font-size: 22px;
    }
    .open-menu{
        left: 107%;
    }
    .header__nav__container__scroll{
        display: none;
    }
    /*...*/
    .the_blog {
        top: 35%;
    }
    .the_blog h1 {
        font-size: 42px;
    }
    .container_post_time {
        width: 60px;
        height: 60px;
        top: 20px;
        left: 20px;
    }
    .container_post_time span:first-child {
        font-size: 24px;
    }
    .container_post_time span:last-child {
        font-size: 10px;
    }
    .container_day {
        padding: 0 10px;
    }
    .magin_top {
        margin-top: 50px;
    }
    .container_post {
        padding-left: 15px;
        padding-right: 15px;
    }
    .top {
        margin-top: 20px;
    }
    .container_sidebar {
        padding-left: 10px;
        padding-right: 10px;
    }
    /*...*/
    .footer__container__col1,.footer__container__col2,.footer__container__col3,.footer__container__col4{
        margin: 0 15px 35px 15px;
    }
    .footer__container__col1__logo{
        left: 15px;
    }
    .footer__container__col2__item{
        justify-content: flex-start;
    }
    .footer__container__col2__text{
        margin-left: 20px;
    }
}
.header__nav__container__scroll {
    background: rgba(54, 19, 84, .85);
    width: 100%;
    max-width: 1200px;
    height: 100px;
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    animation: toTop 1s ease forwards;
    /* line-height: 100px; */
    padding: 0 15px;
    text-align: center;
    line-height: 100px;
}
.header__nav__container__scroll::before{
    content: '';
    background: rgba(54, 19, 84, .85);
    height: 100px;
    width: 100vh;
    animation: toTop 1s ease forwards;
    position: absolute;
    top: 0;
    right: 100%;
}
.header__nav__container__scroll::after{
    content: '';
    background: rgba(54, 19, 84, .85);
    height: 100px;
    width: 100vh;
    animation: toTop 1s ease forwards;
    position: absolute;
    top: 0;
    left: 100%;
}
