
*{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
header{
    height: 36px;
    font-size: 1em;
    background-color: #350a4e;
    position: relative;
    z-index: 1;
}
.header{
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0px auto;
    height: 36px;
    display: flex;
    justify-content: space-between;
}
.header-left{
    width: 410px;
    height: 36px;
    /* border: 1px solid rgb(0, 255, 85); */
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.header-left_phone span{
    font-size: 11px;
    /* border: 1px solid bisque; */
    color: #fff;
    line-height: 36px;
    padding: 0 45px 0 0;
    font-weight: 600;
}
.header-left_icon a{
    font-size: 12px;
    line-height: 36px;
}
.header-left_icon a i{
    font-size: 10px;
    padding: 0 10px;
    color: #fff;
    transition: all 0.3s ease-in;
}
.header-right{
    /* border: 1px solid rebeccapurple; */
    margin-right:30px ;
    display: flex;
}
.header-right a{
    font-size: 11px;
    margin: 0 8px;
    line-height: 36px;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s ease-in;
    text-decoration: none;
}
.header-right_register>a{
    position: relative;
}
.header-right_register>a::before{
    display: inline-block;
    content: '';
    height:12px;
    width: 1px;
    background-color: #fff;
    position: absolute;
    left: -8px;
    bottom: 0;
}
.header-left_icon a i:hover,.header-right a:hover{
    color: #fa9e1b;
}
/* 
------------------- */
.header__nav{
    position: absolute;
    height: 142px;
    width: 100%;
    top: 0;
    background-color: rgba(54, 19, 84, .6);
    text-align: center;
}
.header__nav__container{
    /* height: 142px; */
    max-width: 1200px;
    margin: 0px auto;
    margin-top:36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.header__nav__container-logo>a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}
.header__nav__container-list ul{
    display: flex
}
.header__nav__container-list ul li{
    list-style: none;
    margin: 14px;
}
.header__nav__container-list ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    position: relative;
}
.header__nav__container-list ul li a::before{
    content: "";
    display: inline-block;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, #fa9e1b, #8d4fff);
    opacity: 0;
    transition: opacity 0.3s linear;
    position: absolute;
    top: 120%;
}
.header__nav__container-list>ul li:hover a::before{
   opacity: 1;
   transition: opacity 0.3s linear;
}
.header__nav__container-search{
    height: auto;
}
/* ------------------------- */

.Home__bg{
    height: 800px;
    top: 0;
    width: 100%;
    z-index: -10;
    background: linear-gradient(rgba(64, 6, 97, 0.3), rgba(64, 6, 97, 0.4)),
                url(https://tranhoangkhang1212.github.io/travelix/assets/images/Turkey-Turkish-Cappadocia-hot-air-balloons-1149868-wallhere.com.jpg);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}
.Home__title{
    position: relative;
    top: 55%;
    left: 50%;
}
.Home__title h1{
    font-size: 72px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    
    transform: translateX(-50%);
}
.Home__tabs{
    max-width: 1200px;
    height: 94px;
    position:relative;
    top: 88.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 100px 100px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.Home__tab1,.Home__tab2,.Home__tab3,.Home__tab4,.Home__tab5,.Home__tab6{
    max-width: 200px;
    line-height: 94px;
    /* background-color: #1fff57; */
    flex-grow: 1;
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    
}
.Home__tabs img{
    padding: 0 7px 0 0;;
}
.Home__tabs input{
    display: none;
}
.Home__tabs label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Home__tabs input:checked+label{
    background-color: #fa9e1b;
    color: #fff;
}
/* ---------------Search------------- */
.search{
    display: block;
    width: 100%;
    background-image: linear-gradient(to right, #fa9e1b, #8d4fff);
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search__container{
    min-width: 1200px;
    height: 270px;
    border: 1px snow solid;
}
.search__container__input{
    display: flex;
    justify-content: center;
}
.search__container__input span{
    display: block;
    margin: 0 0 14px 0;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
}
.input-destination{
   min-width: 33.33%;
   flex-grow: 33.33%;
   padding: 0 15px 0 0;
}
.input-checkin,.input-checkout{
    min-width: 25%;
    flex-grow: 25%;
    padding: 0 15px 0 0;
}
.input-adults,.input-children{
    min-width: 8.3333%;
    flex-grow: 8.3333%;
    padding: 0 15px 0 0;
}
.search__container__input input,.search__container__input select{
    width: 100%;
    height: 46px;
    padding: 15px;
    border: none;
    outline: none;
}
/* -------------------------------- */
.search__container__check{
    height: 111px;
    min-width: 1200px;
    border: 1px solid red;
}
.search__container__check1,.search__container__check2,.search__container__check3,
.search__container__check4,.search__container__check5,.search__container__check6,
.search__container__check7,.search__container__check8{
    min-width: 25%;
    height: 38px;
    padding: 10px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.search__container__check__row1,.search__container__check__row2{
    width: 100%;
    height: 50%;
    display: flex;
}